
.find-us-here {
    display: flex;
    align-items: center;
    padding: 2em 8em;
}

.fuh-section1 {
    display: flex;
    border-right: 1px solid  #838383;
}

.fuh-section1 > a {
    padding: 1em 1em;
    margin: 1em 1em;
}

.fuh-icon > img {
    width: 30px;
    height: 30px;
}

.fuh-section2 {
    display: flex;
    flex-direction: row;
    margin-left: .5em;
}

.fuh-section2 > a {
    padding: 2em 2em;
    margin: 2em 2em;
}

.news-sec {
    display: flex;
    flex-direction: column;
}

.news-sec > div {
    display: flex;
    align-items:  center;
    cursor: pointer;
    padding: .5em;
    margin-right: 1em;
}

.news-sec > div > a {
    margin-right: 1em;
    align-items:  center;
    color: #5a5a5a;
    text-decoration: none;
    
}

.news-sec > div > a > img {
    padding-right: 1em;
    border-right: 1px solid #838383;
}


.bb-information > p {
    color: #5a5a5a;
    font-size: 12px;
    padding: .5em;
}

.bb-information > p > a {
    color: #2b2b2c;

}

.bbc-services {
    background-color: #2f2f2f;
    padding: 1em 8em;
}

.bbc-services > div {
    margin-top: 1em;
}

.services-link {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
}

.services-link > img {
    margin-right: .5em;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.explore-bbc {
    display: flex;
    flex-direction: column;
    background-color: #4c4c4c;
    padding: 1em 8em;
}
.eb-item {
    display: flex;
    flex-direction: row;
    padding-bottom: .5em;
    border-bottom: 1px solid white;
    justify-content: space-between;
}
.eb-item > div {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-left: 1px solid white;
    padding-left: 1em;
}
.eb-item > div > div {
    display: flex;
    flex-direction: column;
}
.eb-link {
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.eb-link:hover{
    text-decoration: underline;
}
.bbc-more-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bbc-more-info  > a {
    margin-right: 2em;
    font-size: 12px;
    margin-top: .5em;
    color: white;
    text-decoration: none;
}
.bbc-more-info > a:hover{
    text-decoration: underline;
}
.copy {
    display: flex;
    margin-top: 1em;
    font-size: 13px;
}
.copy > span {
    font-weight: 700;
    color: white;
    margin-right: .5em;
}
.copy > p {
    font-weight: lighter;
    color: white;
}
.copy > a {
    color: white;
    text-decoration: none;
    margin-left: .5em;
}
.copy > a:hover {
    text-decoration: underline;
}







