.posts {
    display: flex;
    flex-direction: row;
    padding: 0em 8.5em;
}
.posts {
    display: flex;
    flex-direction: row;
    width: 1000px;

}
.post {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-bottom: 2em;
}
.post  img {
    width: 300px;
}
.post-title {
    color: #2c313c;
    margin-bottom: .5em;
    text-align: justify;
}
.post-info  img {
    width: 11px;
    height: 11px;
}


